In [ ]:
# data type(collection of the  data set)
list ,tuple , set , dict

In [ ]:
# if_else
# conditon

# if else statements (control flow statement) => if

In [ ]:
- python think without any {} using all opraction

In [ ]:
a = 10

In [ ]:
if a < 15:
    pass    (reserver keyworld  = pass ,else)

In [ ]:
a < 15

True

In [ ]:
if a<15:
  print("my name is sudh")

my name is sudh

In [ ]:
if 24 < 15:
  print("my name is sudh")

In [ ]:
24 < 15

False

In [ ]:
if 10 > 5 :   # conter statements
  print("10 is lesser the 3")
else:
  print("if statement is wrong")

                                          # IndentationError: mange and metain not indetections.   = code will be readable
                                          # metain the indection then code will readeble  python support .

10 is lesser the 3

In [ ]:
income =int(input())
if income < 50:
  print("i will be able to buy phone")
elif income < 70:
  print("i  will be able to buy car")
elif income < 90:
  print("i will be able rent a house")
else:
  print("i wont be able to buy anything")

10
i will be able to buy phone

In [ ]:
income =int(input())

if income < 50:
  print("i will be able to buy phone")
elif income < 70:
  print("i will be able to buy car")
elif income < 90:
  print("i will be able to rent a house")
else:
  print("i wont be able to buy anything")

80
i will be able to rent a house

In [ ]:
Total_price = int(input())
if Total_price > 20000:
  discount = Total_price * .20
  print("Discount will be ",discount)
elif Total_price <= 7000:
   discount = Total_price * .05
   print("Discount will be ",discount)
else:
  print("wont be able to give any discount")

234
Discount will be  11.700000000000001

In [ ]:
Total_price =int(input())

if Total_price  > 30000:
  discount =  Total_price * .20
  print("Discount will be ", discount)
elif Total_price <= 8000:
  discount = Total_price * .05
  print("Discount will be ", discount)
else:
  print("wnot bre able to give any  discount")

50000
Discount will be  10000.0

In [ ]:

coup = "SUDHANSHUS"
if coup == "SUDHANSHUS":
  print("you will be able to get a discount of 5% ")
  paid_amount = 7080 -7080*.05
  print("you will be able to get one neuron with this amount",paid_amount)
else:
  print("kindly use a vaild coupoun code ")

you will be able to get a discount of 5%
you will be able to get one neuron with this amount 6726.0

In [ ]:

"sudh" == "sudh"

True

In [ ]:
coup = input()

if coup == "sudhanshus":
  print(" you will be able to get a discount of 5%")
  paid_amount = 7080 - 7080 * .05
  print("you will be able to get one neuron with this amount", paid_amount)
else:
  print("kindly use a vaild coupoun code")

sudhanshus
 you will be able to get a discount of 5%
you will be able to get one neuron with this amount 6726.0

In [ ]:
coup = input()

if coup == "sudhanshus":
  print(" you will be able to get a discount of 5%")
  paid_amount = 7080 - 7080 * .05
  print("you will be able to get one neuron with this amount", paid_amount)
else:
  print("kindly use a vaild coupoun code")

kjdlshhn
kindly use a vaild coupoun code

In [ ]:
# plane my study_hour <1,<4 & >1,>10
study_hour = int(input())

if study_hour < 1:     # 2 < 1  false statements
  print("it may be 8-9 month of the to make a transition")
elif study_hour < 4 and study_hour >1 :       # 2<4 & 2>1 (true statements)
  print("it may be 6 month time for transition ")
elif study_hour >10:
    print("it my be 3 month time for transition")
else:
  print("it will be difficult")

2
it may be 6 month time for transition

In [ ]:
if elif else

In [ ]:
study_hour =float(input())

if study_hour < 1 and study_hour > 0.5:
  print("it may be success")
elif study_hour < 6 and study_hour > 1:
  print("success")
else:
  print(" fails")

4.5
success

In [ ]:
a = 9
if a==9:
  print("vaild")

vaild

In [ ]:
s = input()
if s == "oneneuron":
  if course == "DSA":
     print("yes its available under one neuron  and in multiple mode for job prepration and core concept")
  elif course == "Blockchain":
     print("this is not aviable as of ")

In [ ]:
s = input("enter a string to start ")
course = input("enter a course name ")
service = input("enter a service name ")
if s == "oneneuron":
    if course == "DSA":
        print("yes its available under one neruon and in multiple mode for job prepratoin and core concept ")
    elif course == "Blockchain":
        print("this is not aviable as of now , kindly raise your demand and we will fulfil in 60 days ")
    elif course == "FSDS":
        print("yes its availble , youi can start learning ")
    else :
        print("this course is not availble kindly raise your demand ")
elif s  == "oneneuronservice":
    if service == "courserequest":
        print("*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.")
    elif service == "module" :
        print("*NOTE: Dear Learner, you can raise demand related to any new course module, and we will fulfil your need in the next 30 days.")
    elif service == "doubt":
        print("*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 24 hours.")
    elif service == "workwithus":
        print("*NOTE: Dear Learner, you can raise the demand to work with our team; our HR will evaluate and get back to you in 24 hours.")
    else :
        print("kindly provide us your feedback and we will fulfil")
else :
    print("kindly connect with our team ")

enter a string to start oneneuron
enter a course name DSA
enter a service name module
yes its available under one neruon and in multiple mode for job prepratoin and core concept

In [ ]:

a = 10 (assignment operator)

a == 10 (comparative oprector)

In [ ]:
# for loop  statements
    #0 1 2 3 4 5 6
l = [1,2,3,4,5,6,7]

for i in l:
  print(i)

1
2
3
4
5
6
7

In [ ]:
s ="sudh"
for i in s:
  print(i)

s
u
d
h

In [ ]:
t = (1,2,3,4,5)
for i in t:
  print(i)

1
2
3
4
5

In [ ]:
# list ,tuple, string =  using for loop

In [ ]:
l = [1,4,5.6,4+7j,"sudh"]  # data type = int,float,complex,string

for i in l:
  print(i)

1
4
5.6
(4+7j)
sudh

In [ ]:
for i in l:
   print(type(i), "type of",i)

<class 'int'> type of 1
<class 'int'> type of 4
<class 'float'> type of 5.6
<class 'complex'> type of (4+7j)
<class 'str'> type of sudh

In [ ]:
l = [1,4,5.6]

for i in l:
  print(i+2)

3
6
7.6

In [ ]:
l =[1,4,5.6]
l1 =[]
for i in l:
  l1.append(i+2)

In [ ]:
l1

[3, 6, 7.6]

In [ ]:
l= [2,45,78,12,"sudh",6+7j,[56,67,78]]
l1 = []
for j in l:
      if type(j) == int:
        l1.append(j)

l1

[2, 45, 78, 12]

In [ ]:

l= [2,45,78,12,"sudh",6+7j,[56,67,78]]

l1 = []
for i in l:
  if type(i) == list:
    for j in l:
      if type(j) == int:
        l1.append(j)

In [ ]:
l1

[2, 45, 78, 12]

In [ ]:
l= [2,45,78,12,"sudh",6+7j,[56,67,78]]

for i in l:
  if type(i) == int:
    print(i)

2
45
78
12

In [ ]:
l= [2,45,78,12,"sudh",6+7j,[56,67,78]]

for i in l:
  if type(i) == list:
    print(i)

[56, 67, 78]

In [ ]:
l= [2,45,78,12,"sudh",6+7j,[56,67,78]]

for i in l:
  if type(i) == int:
    print(i)
  elif type(i) == list:
    for j in i:
        print(j)

2
45
78
12
56
67
78

In [ ]:
l= [2,45,78,12,"sudh",6+7j,[56,67,78,"jkdfls"]]

# 1. try  to print index all the elements
l1=[]
for i in l:
   if type(i) == int :
    l1.append(i+2)

In [ ]:
l1

[4, 47, 80, 14]

In [ ]:
l= [2,45,78,12,12,12,12,"sudh",6+7j,[56,67,78,"jkdfls"]]
len(l)

10

In [ ]:
range(4)

range(0, 4)

In [ ]:
l= [2,45,78,12,12,12,12,"sudh",6+7j,[56,67,78,"jkdfls"]]

# 1. try  to print index all the elements  =(range() use)
for i in range(len(l)):
   print("index",i,"for an element",l[i])

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element 12
index 5 for an element 12
index 6 for an element 12
index 7 for an element sudh
index 8 for an element (6+7j)
index 9 for an element [56, 67, 78, 'jkdfls']

In [ ]:
for i in range(len(l)):
  print(i,l[i])

0 2
1 45
2 78
3 12
4 12
5 12
6 12
7 sudh
8 (6+7j)
9 [56, 67, 78, 'jkdfls']

In [ ]:
for i in enumerate(l):   # function = enumerate() always return tuple
    print(i)
                                    # they retrun element and index

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 12)
(5, 12)
(6, 12)
(7, 'sudh')
(8, (6+7j))
(9, [56, 67, 78, 'jkdfls'])

In [ ]:
for i,j in enumerate(l):
  print(i,j)

0 2
1 45
2 78
3 12
4 12
5 12
6 12
7 sudh
8 (6+7j)
9 [56, 67, 78, 'jkdfls']

In [ ]:
l[0]

2

In [ ]:
l= [2,45,78,12,"sudh",6+7j,[56,67,78,"jkdfls"]]
for i in l:
  if type(i) == list:
    print(i)
  elif type(j) == string:
    print(j)

NameError: ignored

In [ ]:
# append = return of the list
# extend =

In [ ]:
# for loop

In [ ]:
l = [1,2,3,4,5,6,7]

for i in l:       # extrate a data one by one
  print(i)

1
2
3
4
5
6
7

In [ ]:
 # iter() and next()  function  use impletation

In [ ]:
l = [1,2,3,4,5,6,7]
next(l)           #list' object is not an iterator
                  #list' object is an "iterable" convert to "interator"

TypeError: ignored

In [ ]:
l = iter(l)

In [ ]:
next(l)

1

In [ ]:
s ="sudh"
for i in s:
  print(i)

s
u
d
h

In [ ]:

for i in "sudh" :
  print(i)

s
u
d
h

In [ ]:
 t = (1,2,3,4) # normal brack
for i in t:
  print(i)

1
2
3
4

In [ ]:
l = [1 , 4 , 5.6 , 4+7j , "sudh"]

In [ ]:
for i in l:
  print(type(i), "type of ",i)

<class 'int'> type of  1
<class 'int'> type of  4
<class 'float'> type of  5.6
<class 'complex'> type of  (4+7j)
<class 'str'> type of  sudh

In [ ]:
type(l)

list

In [ ]:
# comprasition
l = [1,4,5.6]
l1 = []
for i in l:
  l1.append(i+2)

In [ ]:
l1

[3, 6, 7.6]

In [ ]:
l = [2,45,78,12,"sudh",6+7j,[56,67,78]]

In [ ]:
for i in l:
  if type(i) == int:
    print(i)
  elif type(i) == list:
    for j in i:
      print(j)

2
45
78
12
56
67
78

In [ ]:
Total_price = int(input())

if Total_price > 20000:
  discount = Total_price * .20
  print("Discount will be" , discount)
elif Total_price <= 7000:
  discount = Total_price * .05
  print("Discount will be" , discount)
else:
  print("wont be able to give any discount")

700
Discount will be 35.0

In [ ]:

coup = "SUDHANSHUS"
if coup == "SUDHANSHUS":
  print("you will ba able to get a discount of 5 %")
  paid_amount = 7080 - 7080 * .05
  print("you will be able to get one neuron with this amount",paid_amount)
else:
  print("kindly use a valid coupoun code")

you will ba able to get a discount of 5 %
you will be able to get one neuron with this amount 6726.0

In [ ]:
coup = input()
if coup == "SUDHANSHUS":
  print("you will ba able to get a discount of 5 %")
  paid_amount = 7080 - 7080 * .05
  print("you will be able to get one neuron with this amount",paid_amount)
else:
  print("kindly use a valid coupoun code")

jfgb
kindly use a valid coupoun code

In [ ]:
coup =input()
if coup == "SUDHANSHUS":
  print("you will ba able to get a discount of 5 %")
  paid_amount = 7080 - 7080 * .05
  print("you will be able to get one neuron with this amount",paid_amount)
else:
  print("kindly use a valid coupoun code")

SUDHANSHUS
you will ba able to get a discount of 5 %
you will be able to get one neuron with this amount 6726.0

In [ ]:
"SUDH" == "SUDH"

True

In [ ]:
study_hour = int(input())

if study_hour < 1 :
  print("it may take 8-9 month of time to make a Transition")
elif study_hour < 4 and study_hour >1:
  print(" it may take 6 month of time transition")
elif study_hour < 10:
  print("it may take 3 month of time transition ")
else:
  print("it will be different")

2
 it may take 6 month of time transition

In [ ]:
study_hour = float(input())

if study_hour < 1 and study_hour > 0.5:
  print(" it may be success ")
elif study_hour < 4 and study_hour > 1:
  print("success")
else:
  print("fails..")

3.4
success

In [ ]:
a = 9
if a == 9:
  print("valid")

valid

In [ ]:

s = input("enter a string to start")
course = input("enter a course name")
service = input("enter a course name")

# if s == oneneuron:
         course == DSA
         course == Blockchain
         course == FSDS


# elif s == oneneuronservice:
          service == courserequest
          service == module
          service == doubt
          service == workwithus

 # else :
       print("kindly connect with our team")

In [ ]:
s = input("enter a string to start: ")
course = input("enter a course name: ")
service = input("enter a service name: ")

if s == "oneneuron":
        if course == "DSA" :
          print("yes it available under one neuron i multiple code")
        elif course == "Blockchain":
          print("raise ur demand")
        elif course == "FSDS":
           print("yes it is avilable")
        else:
          print("not avilable")
elif s == "oneneuronservice":
        if service == "courserequest":
            print("raise demand for new course")
        elif service == "module":
          print("raise demand for module ")
        elif   service == doubt:
          print("note doubt clearing")
        else:
          print("feedback")

else :
       print("kindly connect with our team")

enter a string to start: oneneuron
enter a course name: FSDS
enter a service name: module
yes it is avilable

In [ ]:
# nested if statements..

s = input("enter a string to start ")
course = input("enter a course name ")
service = input("enter a service name ")
if s == "oneneuron":
    if course == "DSA":
        print("yes its available under one neruon and in multiple mode for job prepratoin and core concept ")
    elif course == "Blockchain":
        print("this is not aviable as of now , kindly raise your demand and we will fulfil in 60 days ")
    elif course == "FSDS":
        print("yes its availble , youi can start learning ")
    else :
        print("this course is not availble kindly raise your demand ")
elif s  == "oneneuronservice":
    if service == "courserequest":
        print("*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.")
    elif service == "module" :
        print("*NOTE: Dear Learner, you can raise demand related to any new course module, and we will fulfil your need in the next 30 days.")
    elif service == "doubt":
        print("*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 24 hours.")
    elif service == "workwithus":
        print("*NOTE: Dear Learner, you can raise the demand to work with our team; our HR will evaluate and get back to you in 24 hours.")
    else :
        print("kindly provide us your feedback and we will fulfil")
else :
    print("kindly connect with our team ")

enter a string to start oneneuron
enter a course name DSA
enter a service name doubt
yes its available under one neruon and in multiple mode for job prepratoin and core concept

In [ ]:
if statement = (condition are true)

In [ ]:
# while loop,for loop,nested while loop , break and continuos

In [ ]:
# for loop = one after anther    , i = local variable.. (for loop)
#    0 1 2 3 4 5 6

l = [1,2,3,4,5,6,7]   # simple for loop = "extrate the elements one by one"
for i in l:                                 #ex . list , tuple ,string
  print(i)

1
2
3
4
5
6
7

In [ ]:
s = "sudh"
for i in s:
  print(i)

s
u
d
h

In [ ]:
for i in "sudh":
  print(i)

s
u
d
h

In [ ]:
t = (1,2,3,4,5,6)

for i in t:
  print(i)

1
2
3
4
5
6

In [ ]:
l = [1,4,5.6,4+7j,"sudh"]

In [ ]:
for i in l:
  print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
for i in l:
  print(type(i) ,"type of", i )

<class 'int'> type of 1
<class 'int'> type of 4
<class 'float'> type of 5.6
<class 'complex'> type of (4+7j)
<class 'str'> type of sudh

In [ ]:
type(1)

int

In [ ]:
l

[1, 4, 5.6, (4+7j), 'sudh']

In [ ]:
l =[1, 4, 5.6]
l1 =[]
for i in l:
  l1.append(i+2)

In [ ]:
l1

[3, 6, 7.6]

In [ ]:
# append

In [ ]:
l = [2,45,78,12,"sudh",6+7j,[56,67,78]]

for i in l:
  if type(i) == int:
    print(i)
  elif type(i) == list:
    for j in i:
      if type(j) == int:
        print(j)

2
45
78
12
56
67
78

In [ ]:
l = [2,45,78,12,12,12,12,"sudh",6+7j,[56,67,78,"jlha"]]

In [ ]:
len(l)

10

In [ ]:
range(len(l))

range(0, 10)

In [ ]:
l = [2,45,78,12,12,12,12,"sudh",6+7j,[56,67,78,"jlha"]]
 # q1.try to print index of all the elements  =>  ( enumerate )

for i in enumerate(l):
  print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 12)
(5, 12)
(6, 12)
(7, 'sudh')
(8, (6+7j))
(9, [56, 67, 78, 'jlha'])

In [ ]:
for i ,j in enumerate(l):
  print(i,j)

0 2
1 45
2 78
3 12
4 12
5 12
6 12
7 sudh
8 (6+7j)
9 [56, 67, 78, 'jlha']

In [ ]:
# range(len(l)) = generate for you
# enumerate(l)  = always return index as well as elements  (inbuilt function)

In [ ]:
range(4)

range(0, 4)

In [ ]:
l = [2,45,78,12,12,12,12,"sudh",6+7j,[56,67,78,"jlha"]]

for i in range(len(l)):
  print("index", i ,"for an element " , l[i])

index 0 for an element  2
index 1 for an element  45
index 2 for an element  78
index 3 for an element  12
index 4 for an element  12
index 5 for an element  12
index 6 for an element  12
index 7 for an element  sudh
index 8 for an element  (6+7j)
index 9 for an element  [56, 67, 78, 'jlha']

In [ ]:
# q2 . try to extract all the list of char if elemnts is string
l = [2,45,78,12,12,12,12,"sudh",6+7j,[56,67,78,"jlha"]]

for i in l:
  if type(i) == str:
    l1 =[]
    for j in i:
      l1.append(j)
    print(l1)

['s', 'u', 'd', 'h']

In [ ]:
l = [2,45,78,12,12,12,12,"sudh","kumar",6+7j,[56,67,78,"jlha"]]

for i in l:
  if type(i) == str:
    l1 = []
    for j in i:
      l1.append(j)
    print(l1)

['s', 'u', 'd', 'h']
['k', 'u', 'm', 'a', 'r']

In [ ]:
# q3. try to return a list after doing  a square of all the int elements

l = [2,45,78,12,12,12,12,"sudh","kumar",6+7j,[56,67,78,"jlha"]]

l2 = []
for i in l:
  if type(i) == int:
    l2.append(i**2)

In [ ]:
l2

[4, 2025, 6084, 144, 144, 144, 144]

In [ ]:
l = [2,45,78,12,12,12,12,"sudh","kumar",6+7j,[56,67,78,"jlha"]]
l1 = []
for i in l:
  if type(i) == complex:
    l1.append(i)

In [ ]:
l1             # l1 = []

[(6+7j)]

In [ ]:
# next() and iter()
                        #  'list' object is not an iterator
                        # 'list' object is iterable

l = [1,2,3,4]
next(l)

TypeError: ignored

In [ ]:
l = iter(l)

In [ ]:
next(l)

1

In [ ]:
next(l)

2

In [ ]:
next(l)

3

In [ ]:
next(l)

4

In [ ]:
next(l)     # StopIteration :

StopIteration: ignored

In [ ]:
# for loop  = one by one elements  will be extrate
# filter condition  =if_else statemnts

In [ ]:
l = ["name","emailid","phonenoa","address"]
for i in l:
  print(i +"sudh")

namesudh
emailidsudh
phonenoasudh
addresssudh

In [ ]:
s = "ineuron"
for i in s:
  print(i)

i
n
e
u
r
o
n

In [ ]:
# if __ else
## for __ else = python is use

In [ ]:
l

['name', 'emailid', 'phonenoa', 'address']

In [ ]:
for i in l:
  print(i)
else:
  print("if for loop is going to complete itself then it will come to else")

name
emailid
phonenoa
address
if for loop is going to complete itself then it will come to else

In [ ]:
#"if for loop is going to complete itself then it will come to else"

In [ ]:
l

['name', 'emailid', 'phonenoa', 'address']

In [ ]:
for i in l:
   if i == "emailid":
    break
   print(i)
else:
  print("check this statements ")

name

In [ ]:
# break  = "pre-define keyworld "which is inside to the python progmaing langung.

In [ ]:
s ="sudhanshu"
for i in s:
  if i == "n":
    break
else:
  print("dont exectute is unless and untill it is not printing my name")

In [ ]:
# while statements(base no condition)  = only True (create loop)

a = 1
while a < 6 :
  print(a)
  a=a+1

1
2
3
4
5

In [ ]:
import collections
if 2<4: T / F st
 for loop  :collections one by one extarate

In [ ]:
a = 1
while a < 5:
  print(a)
  if a == 4:
      break
  a = a + 1

1
2
3
4

### for loop while loop